<div class="container">
  <div class="row my-5">
    <div class="col-md-8">
      <% if @bio.title.blank? %>
      <%= link_to '投稿(管理者)', "/bios/new", method: :get, class: "btn btn-raised btn-primary" %>
      <% end %>
      <div class="card ">
        <div class="card-body">
          <h4 class="nav-tabs-title py-2"><%= @bio.title %></h4>
          <% if @bio.image.attached? %>
            <%= image_tag @bio.image %>
          <% end %>
          <p class="text-left my-5"><%= markdown(@bio.text).html_safe %></p>
          <small class="text-muted"><%= @bio.updated_at %></small><br>
        </div>
      </div>
      <div class="text-right">
        <% if user_signed_in? && current_user.id == 1 %>
          <%= link_to '編集', "/bios/#{@bio.id}/edit", method: :get, class: "btn btn-raised btn-primary" %>
          <%= link_to '削除', "/bios/#{@bio.id}", method: :delete, class: "btn btn-raised btn-danger" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <%= render 'blogs/blogs' %>
      <%= render 'products/products' %>
      <%= render 'users/users' %>
    </div>
  </div>
</div>