<div class="container">
  <div class="row py-5">
    <div class="col-md-8">
      <div class="card card-profile text-center">
        <div class="card-avatar py-5">
          <% if current_user.image.attached? %>
            <%= image_tag current_user.image, class: "rounded-circle", width: "150px", height: "150px" %>
          <% else %>
            <img class="rounded-circle" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture" width="150px" height="150px">
          <% end %>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title"><%= current_user.username %></h4>
          <p class="card-description"><%= current_user.email %></p>
          <p class="card-text"><%= simple_format current_user.text %></p>
          <% if current_user.id == current_user.id %>
            <span><%= link_to "プロフィール編集", edit_user_path(current_user), {:class => "btn btn-primary" } %></span>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <%= render 'blogs/blogs' %>
      <%= render 'products/products' %>
    </div>
  </div>
</div>